body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#app {

}

div#content {
  text-align: center;
}

div#select {
  margin-bottom: 5%;
}

div#socials {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a span.social {
  display: flex;
  align-items: center;
  border-style: solid;
  border-color: azure;
  border-radius: 25px;
  border-width: 1px;
  padding: 20px; 
  margin: 10px
}

a {
  color:#ffffff;
  padding: 1ch;
  text-decoration: none; 
}

span.social img {
 padding: 10px;
}

input {
  font-size: 2rem;
}

